@font-face {
    font-family: 'destroyregular';
    src: url('DESTROY_-webfont.eot');
    src: url('DESTROY_-webfont.eot?#iefix') format('embedded-opentype'),
         url('DESTROY_-webfont.woff') format('woff'),
         url('DESTROY_-webfont.ttf') format('truetype'),
         url('DESTROY_-webfont.svg#destroyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
	

body{
	width: 1278px;
	height: 880px;
	margin:  0 auto;
	background: black;
}

#cabecera{
	width: 1280px;
	height: 170px;
	background: black;
	background: url(http://joomla.dsanchez.org/images/slide/cabezeraweb.gif);
}


#globalbarra{
	width: 324px;
	height: 1412px;
	//border: 1px solid red;
	float: right;
	
	
	
	
}

#globalcontenido{
	width: 950px;
	height: 1412px;
	//border: 1px solid grey;
	background: url(http://joomla.dsanchez.org/images/slide/fondocontenido.jpg);
}


#globalcontenido h2 {
	text-align: center;
	margin-top: 30px;
	font-family: 'destroyregular';
	padding-top: 100px;
}

#pie{
	width: 1280px;
	height: 125px;
	border: 1px solid #f7a604;
	float: none;
}

#bar2{
	height: 200px; 
	width: 326px; 
	float: right; 
	margin-right: -324px; 
	//border: 1px solid blue;
	background: black;
}


#bar2 img {
	margin-left: 100px;
	margin-top: 20px;
}

#bar3{
	height: 200px; 
	width: 276px; 
	float: right; 
	margin-right: -278px; 
	//border: 1px solid blue;
	background: 1px solid pink;
	margin-top:200px;
	color: white;
	font-family: 'destroyregular'
}

#bar4{
	height: 200px; 
	width: 276px; 
	float: right; 
	margin-right: -278px; 
	//border: 1px solid blue;
	background: black;
	margin-top: 400px;
}

.moduletable.jmoddiv {
	margin-left: 60px;
}

#cssmenu {
  width: auto;
  height: 27px;
  padding: 0;
  background: #000000 url(http://joomla.dsanchez.org/images/slide/1.gif) top left repeat-x;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul li {
  float: left;
  margin: 0;
  padding: 0;
  background: transparent url(http://joomla.dsanchez.org/images/slide/2.GIF) top left no-repeat;
}
#cssmenu ul li a {
  display: block;
  height: 27px;
  padding-left: 35px;
  padding-right: 35px;
  float: left;
  text-transform: uppercase;
  font-family: 'destroyregular','Helvetica Neue', helvetica, 'microsoft sans serif', arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
#cssmenu ul li a span {
  display: block;
  float: left;
  height: 22px;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 20px;
  background: transparent url(http://joomla.dsanchez.org/images/slide/2.GIF) top right no-repeat;
  cursor: pointer;
}
#cssmenu ul li a:hover {
  color:#8A0000;
}
#cssmenu ul li.active a {
  background: transparent url(http://joomla.dsanchez.org/images/slide/3.GIF) top left no-repeat;
  color:#8A0000;
}
#cssmenu ul li a:hover span,
#cssmenu ul li.active a span {
  background: transparent url(http://joomla.dsanchez.org/images/slide/3.GIF) top right no-repeat;
}